body {
  background-color: #CBFFAA;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 20pt;
  font-size: 16pt;
  min-width: 400px;
}

a {
  color: #249;
  text-decoration: none;
  outline: none;
}
a:hover { text-decoration: underline; }
a:visited { color: #649; }

/* =============== Fonts =============== */

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 5px;
}
h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
b { font-weight: bold; }
small { font-size: 80%; }

@media (max-width: 400px) {
  body, .container { padding: 0 }
}

@media (max-width: 1000px) {
  body { font-size: 32pt }
  .container {
    width: auto;
  }
}

/* =============== End Fonts =============== */

#header {
  height: 120px;
  /*width:100%;*/
  background: #000 url('/iiab-menu/menu-files/images/iiab_banner4.png') no-repeat 0 0;
}



/*-------------------------------------------*/
/* BEGIN index modules                       */
/*-------------------------------------------*/

.content-cell {
  padding-top: 1em;
  padding-bottom: 1em;
}
.container { padding: 0; }
.content-cell h2 { margin-bottom: 1em }
.content-cell p { margin-bottom: 1em }
.content-item img { width: 100% }
.content-item {
  border: 1px solid #aaa;
  background-color: #fff;
}
.content-item .listhead {
    font-weight: bold; 
    font-size: 120%; 
    margin: 5px 0 5px 0;
}

/* ==== List & Columns ==== */

li { padding: 1pt 0 }
ul { font-size: 80% }
ul li { display: inline-block }
ul.quad li { width: 24% }
ul.triple li { width: 32% }
ul.double li { 
  width: 49%;
  text-align: left;
}
ul li.listhead { 
  width: 100%; 
  padding: 0; 
}

@media (max-width: 499px) {
  ul.quad li,
  ul.triple li,
  ul.double li {
    width: 100%;
  }
}

/* ==== List & Columns End ==== */





/*-------------------------------------------*/
/* END for index modules                     */
/*-------------------------------------------*/